astropy
matplotlib
numpy
pandas
pytest
scipy
uncertainties
astroquery
lightkurve
git+https://github.com/MarcoMuellner/eleanor
lmfit
jupyter
pyfcomb
Sphinx
recommonmark
sphinx_rtd_theme
tess-point>=0.3.8