astropy
matplotlib
numpy
pandas
pytest
scipy
uncertainties
astroquery
lightkurve
eleanor_mamu==1.0.2
lmfit
jupyter
pyfcomb
sphinx
sphinx-autodoc-typehints
sphinx-argparse
recommonmark
sphinx_rtd_theme
tess-point>=0.3.8
nbsphinx